﻿﻿<h1>Zonas</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create" asp-controller="Home" method="post">*@

        <div class="form-group mb-2">
            <label class="control-label"></label>
            <input type="text" class="form-control" id="zona" name="zona" placeholder="Zona" />
        </div>
       
        <input type="hidden" id="UrlPostZonas" value="" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="botonAgregar">Agregar</button>
        </div>
        @*</form>*@
    </div>
</div>